:root {
  --text-color: #2e2f42;
}
.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF
}


.header-logo {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: "Raleway" sans-serif;
  
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  
   line-height: 1.17 
}

.link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.logo {
  color: var(--navyblue, #2e2f42);
  font-size: 18px;
  font-family: "Raleway" sans-serif;
  
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
 ;
} 
.header-nav { 
   display: inline-flex;
align-items: flex-start;
gap: 40px;
border-bottom: 1px solid var(--cornflower, #E7E9FC);
background: var(--white, #FFF);
}
 .header-link   {

 font-size: 16px;
font-family: "Roboto" sans-serif;

font-weight: 500;
line-height: 24px;
letter-spacing: 0.32px; }
.header-address {
  color: var(--slate, #434455);
  font-size: 16px;
  font-family: "Roboto" sans-serif;
  
  
  line-height: 24px;
  letter-spacing: 0.32px;
}

.solutions {
  background-color: #2e2f42;
}

.solutions-text {
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.solutions-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.solutions-button:hover {
  background-color: #404bbf;
}
.design-tittle { color:  #2E2F42;
/* Header 3 */
font-size: 20px;
font-family: "Roboto", sans-serif;

font-weight: 500;
line-height: 24px;
} 
.design-info {
    color: var(--slate, #434455);

/* Body */
font-size: 16px;
font-family: "Roboto", sans-serif;
line-height: 24px;
letter-spacing: 0.32px;
}
.foto-question {color:  #2E2F42;
text-align: center;
/* Header 2 */
font-size: 36px;
font-family: "Roboto", sans-serif;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize;}
.team {color:  #2E2F42;
    font-size: 36px;
font-family: "Roboto", sans-serif;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
    
}
.team-b {
    background: v #F4F4FD;
} 
.footer {background:  #2E2F42;
}
.footer-logo { color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: "Raleway" sans-serif;
  
  font-weight: 800;
  line-height: 21px;

 }
 .log-foter{
    color: var(--cloud, #F4F4FD);
     font-family: "Raleway" sans-serif;
     font-weight: 800;
     line-height: 21px;
     letter-spacing: 0.54px;}
     .footer-info { color: var(--cloud, #F4F4FD);

font-size: 16px;
font-family: "Roboto", sans-serif;


line-height: 24px;
letter-spacing: 0.32px;

    
     }
     .buttons [

     ]
     .buttons-element { font-size: 16px;
       font-family: "Roboto", sans-serif;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.64px

     }
  .posters-name {
    color: var(--navyblue, #2E2F42);
        /* Header 3 */
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.4px;
  }
  .info {
    color: var(--slate, #434455);
        /* Body */
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
  }