:root {
  --color-primary: #434455;
  --color-secondary: #4d5ae5;
  --color-accent: #2e2f42;
  --color-background: #e7e9fc;
  --color-whitee: #ffffff;
  --color-cloud: #f4f4fd;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--color-whitee);
}

.header-logo {
  color: var(--color-accent);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  font-size: 18px;
  letter-spacing: 0.03em;

  line-height: 1.17;
}

.link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.logo {
  color: var(--color-accent);
  font-size: 18px;
  font-family: "Raleway", sans-serif;

  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
}
.header-nav {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  border-bottom: 1px solid var(--color-background);
  background: var(--color-whitee);
}
.header-link {
  font-size: 16px;

  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.header-address {
  color: var(--color-primary);
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.solutions {
  background-color: var(--color-accent);
}

.solutions-text {
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-whitee);
  line-height: 1.07;
}

.solutions-button {
  background-color: var(--color-secondary);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-whitee);
  cursor: pointer;
}

.solutions-button:hover {
  background-color: var(--color-secondary);
}
.design-tittle {
  color: var(--color-accent);
  /* Header 3 */
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 24px;
}
.design-info {
  color: var(--color-primary);

  /* Body */
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.foto-question {
  color: var(--color-accent);
  text-align: center;
  /* Header 2 */
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.team {
  color: var(--color-accent);
  font-size: 36px;

  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}
.team-b {
  background: var(--color-cloud);
}
.footer {
  background: var(--color-accent);
}
.footer-logo {
  color: var(--color-secondary);
  font-size: 18px;
  font-family: "Raleway", sans-serif;

  font-weight: 800;
  line-height: 21px;
}
.log-foter {
  color: var(--color-cloud);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-info {
  color: var(--color-cloud);

  font-size: 16px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03px;
  text-transform: uppercase;
}
.buttons {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.posters-name {
  color: var(--color-accent);

  font-size: 20px;

  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.info {
  color: var(--color-primary);
  /* Body */
  font-size: 16px;

  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
